@import url("./shared/assets/fonts/font-awesome/");

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;

  --main-color: rgb(89, 202, 198);
  --white-color: #ffffff;
  --text-color: rgb(0, 0, 0);
  --black-color: #000000c3;
  --real-purole-color: #7e5ef0ff;
  --green-color: #42a842;
  --bg-color: #f6f6f6;
  --sec-bg-color: rgba(215, 215, 217, 0.293);
  --grey-color: #a3a3a3ff;
  --light-grey-color: rgba(237, 237, 237, 0.572);
  --modal-background: rgba(0, 0, 0, 0.777);
  --red-color: rgb(197, 33, 33);
  --box-shadow: 0px 0px 10px 5px rgba(120, 120, 120, 0.24);
  --transform: translateY(-5px);
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

#loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  gap: 40px;
}
#loader-text {
  font-size: 20px;
  font-weight: 500;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#loader {
  width: 90px;
  height: 90px;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid var(--main-color);
  animation: spin 2s linear infinite;
}
#loader img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
